html {
  background-color: white;
}

body {
  background-color: #f1d5b0;
}

main {
  background-color: white;
  border: 2em solid #d89667;
}

section {
  border: .1em solid #a3b340;
}

button {
  background-color: white;
  border: 2px solid #22b8e9;
  border-radius: 5px;
  padding: .5em 1em;
  transition: all .4s linear;
}

button:hover {
  background-color: #22b8e9;
  padding: .5em 1.5em;
}

button:focus {
  outline: 0;
}
